*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top bar */

header{
    background: linear-gradient(goldenrod,rgb(114, 86, 16),black);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h2{
    margin: 20px;
}

header a{
    color: white;
    font-family: tenby-six, sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 16px;
}

a{
    text-decoration: none;
}

header img{
    height: 80px;
    border-radius: 8px;
}

#topbar ul{
    display: flex;
}

#topbar ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 20px 0;
    margin: 0 20px;
}

/* Le wrapper commun */

#wrapper{
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 20px 40px;
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}


#lecontenu{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

/* tableau des listes */

.toCenter{
    text-align: center;
}

.petit{
    width: 25%;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 900;
    padding: 6px;
}

td{
    padding: 6px 0;
}

td a{
    color: skyblue;
}

/* info detail */

.foreach a{
    color:greenyellow;
}

#hautFilm{
    display: flex;
}

#hautFilm figure{
    width: 26%;
    margin-right: 40px;
}

#hautFilm figure img{
    width: 100%;
}

#droiteFilm{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#partGenre p{
    margin-bottom: 20px;
}

#partGenre .foreach{
    margin-bottom: 10px;
}

@media (max-width:1440px){
    #hautFilm{
        flex-direction: column;
    }
    
    #hautFilm figure{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #droiteFilm{
        width: 100%;
    }
}

/* partie formulaire */

#les7lien{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#les7lien a{
    padding: 20px 0;
    margin: 10px;
    width: 200px;
    text-align: center;
    color: black;
    background: radial-gradient(goldenrod,rgb(150, 112, 17));
    border-radius: 20px;
    box-shadow: white 0 0 24px -6px;
}
