*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top bar */

header{
    background: linear-gradient(goldenrod,rgb(114, 86, 16),black);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h2{
    margin: 20px;
}

header a{
    color: white;
    font-family: tenby-six, sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 16px;
}

a{
    text-decoration: none;
}

header img{
    height: 80px;
    border-radius: 8px;
}

#topbar ul{
    display: flex;
}

#topbar ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 20px 0;
    margin: 0 20px;
}

/* Le wrapper commun */

#wrapper{
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 20px 40px;
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#lecontenu{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

main{
    margin: 2% 0;
}

/* footer */

footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px ;
    font-family: tenby-six, sans-serif;
    font-style: normal;
    font-weight: 700;
}

/* listes */

.surTableau{
    display: flex;
    flex-wrap: wrap;
}

.surTableau p{
    margin: 10px 0;
}

.surTableau a{
    padding: 10px;
    margin: 0 20px;
    background-color: rgb(168,128,25);
    color: white;
    border-radius: 16px;
}

/* les tableau */

.toCenter{
    text-align: center;
}

.petit{
    width: 25%;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 900;
    padding: 6px;
}

td{
    padding: 6px;
}

td a{
    color: skyblue;
}

/* info detail */

.foreach a{
    color:greenyellow;
}

#hautFilm{
    display: flex;
}

#hautFilm figure{
    width: 26%;
    margin-right: 40px;
}

#hautFilm figure img{
    width: 100%;
}

#droiteFilm{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#partGenre p{
    margin-bottom: 20px;
}

#partGenre .foreach{
    margin-bottom: 10px;
}

@media (max-width:1440px){
    #hautFilm{
        flex-direction: column;
    }
    
    #hautFilm figure{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #droiteFilm{
        width: 100%;
    }

    form > div > div{
        flex-direction: column;
    }
}

/* partie formulaire */

#les7lien{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#les7lien a{
    padding: 20px 0;
    margin: 10px;
    width: 200px;
    text-align: center;
    color: black;
    background: radial-gradient(goldenrod,rgb(150, 112, 17));
    border-radius: 20px;
    box-shadow: white 0 0 24px -6px;
}


/* les formulaire */

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form > div{
    width: 100%;
}

.divForm{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

form > div > div{
    width: 25%;
    min-width: 300px;
    margin: 0 3%;
    display: flex;
}

form > div > div > label{
    /* padding-right: 12px; */
}

form > div > div > input{
    width: 100%;
    min-width: 200px;
}

.divSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divSubmit input{
    width: 15%;
    border-radius: 20px;
    margin-top: 40px;
}

form > div > input{
    padding: 12px 0;
    width: 25%;
}

fieldset{
    display: flex;
    flex-direction: column;
}

fieldset div{
    padding: 12px 6px;
}

.lienPrecedent{
    color: white;
    background-color: darkgoldenrod;
    padding: 4% 8%;
    border-radius: 12px;
    box-shadow: white 0 0 20px -10px;
}

.boutonPrecdent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 10%;
    text-align: center;
}